#red{
    color:red
}
#orange{
    color: orange
}
#yellow{
    color: yellow
}
#green{
    color: green;
}
p.twenty{
    font-size: 20px;
}
p.thirty{
    font-size: 30px;
}
p.forty{
    font-size: 40px;
}
p.fifty{
    font-size: 50px;
}
